<head>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  </head>

<div class="navbar">
<%= image_tag "applogo.png" %>
</div>
<br>

<div>
<h3>By adding your name into our system, you are automatically connected with a 
  variety of contacts!</h3>
  </div>

<form action="/music/create">
  <input class="entries" name="name" type="text" placeholder="What's your name?">
  <br>
  <input class="entries" name="age" type="number" placeholder="How old are you?">
  <br>
  <input class="entries" name="journal" type="text" placeholder="Artist or Industry Pro?">
  <br>
  <input class="entries" name="journal" type="text" placeholder="What's Happpening?">
  <br>
  <input class="entries" type="submit" value="Add Person">
  <br>
</form>


  <br>
    <a href="/" class="simple-link">Back to Home</a>

