<head>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  </head>

<div class="navbar">
<%= image_tag "applogo.png" %>
</div>
<br>

<form action="/music/create">
  <input name="name" type="text" placeholder="What's your name?">
  <input name="age" type="number" placeholder="How old are you?">
  <input name="journal" type="text" placeholder="Artist or Industry Pro?">
  <input name="journal" type="text" placeholder="What's Happpening?">
  <input type="submit" value="Add Person">
</form>
  <br>
    <a href="/" class="simple-link">BACK TO LIST</a>

